cluster:
  apiServer:
    admissionControl:
      - name: PodSecurity
        configuration:
          exemptions:
            # Namespaces to exempt from Pod Security Standards enforcement
            namespaces:
              # - kube-system               # System components often need privileges
              - k8s-monitoring            # Your monitoring namespace
              - kube-node-lease
              - kube-public
              - longhorn-system
              - nfs-subdir-external-provisioner
              - hostpath-provisioner
              - cert-manager

    # admissionControl:
    #     - name: PodSecurity # Name is the name of the admission controller.
    #       # Configuration is an embedded configuration object to be used as the plugin's
    #       configuration:
    #         apiVersion: pod-security.admission.config.k8s.io/v1alpha1
    #         defaults:
    #             audit: restricted
    #             audit-version: latest
    #             enforce: baseline
    #             enforce-version: latest
    #             warn: restricted
    #             warn-version: latest
    #         exemptions:
    #             namespaces:
    #                 - kube-system
    #             runtimeClasses: []
    #             usernames: []
    #         kind: PodSecurityConfiguration            